name: Deploy Angular to GitHub Pages

on:
  push:
    branches:
      - main

jobs:
  build-deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install dependencies
        run: npm install

      - name: Build
        run: npm run build -- --configuration production --base-href /reel-manager-v2/

      - name: Deploy
        uses: jamesives/github-pages-deploy-action@v4
        with:
          branch: gh-pages
          folder: dist/reel-manager-v2
